body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Color de fondo */
    color: #333; /* Color de texto */
}

.header {
    background-color: #d8bba9; /* Color de fondo del encabezado */
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 3em; /* Tamaño de fuente mayor */
    margin: 0;
    color: #200202; /* Color del texto */
    font-weight: bold; /* Negrita */
}

.nav {
    margin-top: 10px;
}


.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #200202; /* Color de los enlaces */
    font-weight: bold; /* Negrita */
    font-size: 1.5em; /* Tamaño de fuente */
}

.banner {
    background-color: #e3d6c7; /* Color de fondo del banner */
    padding: 40px 20px; /* Espaciado interno */
    text-align: center;
    position: relative; /* Para el posicionamiento de elementos internos */
}

.search-bar {
    display: flex;
    justify-content: center;
    position: absolute; /* Posicionamiento absoluto dentro del banner */
    top: 20px;
    left: 50%;
    transform: translateX(-50%); /* Centro horizontalmente */
}

.search-bar input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px;
    background-color: #7d7777; /* Botón Roja fangosa  */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Espaciado entre el campo y el botón */
}

.search-bar button:hover {
    background-color: #200202; /* Hover del botón */
}

.banner h2 {
    font-size: 2.5em;
    margin: 50px 0;
    color: #b08d7d; /* Color del texto en el banner */
    font-weight: bold;
}

.explore-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white; /* Fondo blanco */
    color: #200202; /* Color rojo oscuro del texto */
    border: 2px solid #ffffff; /* Borde blanco*/
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold;
    margin-top: 20px; /* Espaciado superior */
}

.explore-button:hover {
    background-color: #200202; /* Fondo rojo oscuro al pasar el cursor */
    color: white; /* Texto blanco */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-grid {
    display: flex; /* Utiliza flexbox para la cuadrícula */
    flex-wrap: wrap; /* Permite que los elementos se muevan a nuevas líneas */
    justify-content: space-between; /* Espaciado entre productos */
}

.product {
    background-color: #f9f9f9; /* Color de fondo del producto */
    border: 1px solid #ddd; /* Borde */
    border-radius: 10px; /* Bordes redondeados */
    margin: 10px; /* Espacio fuera del borde */
    padding: 15px; /* Espacio dentro del borde */
    width: 30%; /* Ancho del producto */
}

.product h3 {
    color: #200202; /* Color del título del producto */
}

footer {
    text-align: center;
    margin: 20px 0;
    padding: 15px;
    background-color: #d2c6b6; /* Color de fondo del pie de página */
    color: #4c4c4c; /* Color del texto en el pie de página */
}